body {
    font-family: 'qatar';
}

.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

@font-face {
	font-family: 'qatar';
	src: url(\qatar.ttf);
}

.scoreboard__name, 
.scoreboard__score {
    padding: 10px;
    text-align: center;
}

.scoreboard__name {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.scoreboard__name--one {
    color: #ed1c51;
    font-size: 32px;
}

.scoreboard__name--two {
    color: #ed1c51;
    font-size: 32px;
}

.scoreboard__score {
    font-size: 2em;
}

.scoreboard__controls {
    display: flex;
}

.scoreboard__control-button {
    flex-grow: 1;
    border: none;
    background: #eee;
    cursor: pointer;
    font-size: 1.2em;
}

.scoreboard__control-button:hover {
    background-color: #eb718f;
}

.scoreboard__control-button:active {
    background-color: #ed1c51;
}

.mediaButtons {
    border: none;
    width: 5vw;
    height: 5vh;
    margin-top: 10px;
}
.mediaButtons:hover {
    background-color: #eb718f;
}
.mediaButtons:focus {
    background-color: #ed1c51;
}

#title {
    overflow: hidden;
    text-align: center;
    color: #8A1538;
}

#inputBox {
    display: block;
    margin: auto;
    font-family: 'qatar';
    top: -15px;
    width: 50vw;
    height: 200px;
    font-weight: bold;
    font-size: 16px;
}

select {
    appearance: none;
    outline: 0;
    background: #eee;
    background-image: none;
    color: black;
    cursor: pointer;
    border: none;
    height: 25px;
    text-align: center;
}
#teamOneDrop {
    position: relative;
    left: 20px;
    margin-top: 10px;
    background-color: #eee;
    border: none;
    appearance: none;
    text-align: center;
}

#teamTwoDrop {
    position: relative;
    margin-top: 10px;
    float: right;
    right: 20px;
    background-color: #eee;
    border: none;
    appearance: none;
    text-align: center;
}

#teamOneFlag {
    position: relative;
    box-shadow: 0px 0px 10px gray;
    margin-left: 15vw;
    float: left;
    width: 320px;
    height: 200px;
}
#teamTwoFlag {
    position: relative;
    box-shadow: 0px 0px 10px gray;
    right: 0%;
    margin-right: 15vw;
    float: right;
    width: 320px;
    height: 200px;
}

.flagContainer {
    height: 230px;
    /* max-height: 230px; */
}
#scoreboard {
    font-size: 10px;
}
@media screen and (max-width: 1000px) {
    #teamOneFlag {
        width: 33.2%;
        height: 20vw;
    }
    #teamTwoFlag {
        width: 33.2%;
        height: 20vw;
    }
    .flagContainer {
        height: 23vw;
    }
    .scoreboard__name--one {
        font-size: 3.2vw;
    }
    .scoreboard__name--two {
        font-size: 3.2vw;
    }
}

@media screen and (max-width: 501px) {
    #teamOneDrop {
        width: 40%;
     }
     #teamTwoDrop {
        width: 40%;
     }
}
img[src=""] {
    display: none;
}